.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}
#card {
  width: 50vw;
  height: min-content;
  min-height: 50vh;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#card-internal {
  padding: 5vh;
}
#card-internal p {
  font-size: 22px;
}
.card-text {
  margin: 0;
}
.buttons {
  margin: 5vh auto;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.buttons button {
  padding: 5vh;
  font-size: 16px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
