body {
  background-color: #282c34;
}
div.buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
div.buttons button {
  padding: 15px;
}
button.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}
button {
  background-color: white;
  width: fit-content;
  max-width: 115px;
  font-size: 1em;
}
ul {
  list-style-type: none;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card {
  background-color: white;
  height: min-content;
  min-height: 50vh;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}
.card-text {
  font-size: 1.5em;
  line-height: 1.5em;
}
.card-internal {
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: center;
}
.card-internal ul {
  padding-inline-start: 0;
}
.card-internal li {
  text-align: left;
}
.card-internal li input {
  width: 30px;
  height: 30px;
}
.card-internal li label {
  vertical-align: super;
}
.score {
  margin: 16px;
  text-align: center;
}
.quiz {
  display: flex;
  width: 80%;
}
.quiz button {
  margin-top: 60px;
}
.quiz div {
  width: 80%;
}
.quiz div.buttons {
  width: 132px;
}
.correct {
  border: 1px solid black;
  background-color: greenyellow;
}
.incorrect {
  background-color: red;
}
.quiz h2 {
  font-weight: bold;
  font-family: "serif";
}

.remove {
  background-color: red;
  color: white;
}
.remove:hover,
.remove:focus {
  background-color: darkred;
}
.reset {
  background-color: green;
  color: white;
}
.reset:hover,
.reset:focus {
  background-color: darkgreen;
}
.previous::after {
  content: "<<";
}
.next::after {
  content: ">>";
}
.next:hover,
.next:focus,
.previous:hover,
.previous:focus {
  background-color: gray;
  color: white;
}

.flashcardDeck:hover,
.flashcardDeck:focus,
.flashcardDeck.active,
.quizDeck:hover,
.quizDeck:focus,
.quizDeck.active {
  background-color: black;
  color: white;
}
.previous,
.next {
  width: 132px;
}
.flashcardDeck,
.quizDeck {
  width: 110px;
}
.quiz div.card-internal {
  width: 100%;
}
div.buttons.removeButton {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.App-header {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.6em;
}
.quiz div.score {
  color: white;
  width: 100%;
  font-size: 1.5em;
}
div.buttons.resetButton {
  justify-content: center;
}
div.reset-text {
  color: white;
  font-size: 1.5em;
}

.card:focus {
  outline: thick solid grey;
}
